#payment {
  margin-top: 110px;
}

#payment p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.payment-box-shipping-info {
  display: flex;
  flex-direction: column;
}

.box-shipping-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.payment-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-title img {
  width: 5%;
  height: 3%;
}

.payment-title p {
  font-weight: bold;
  font-size: 1.1rem;
}

#btn-update button {
  background-color: var(--color-white);
  color: var(--color-gray-text);
  border: 1px solid var(--color-gray-button);
  border-radius: 30px 30px 30px 30px;
  padding: 5px;
  width: 50px;
}

.shipping-address {
  font-size: 0.9rem;
}

.shipping-address p:first-child{
  font-weight: bold;
  margin-top: 0;
}

.shipping-address p:nth-child(2){
  margin-bottom: 5px;
}

.shipping-address p:nth-child(3){
  margin-top: 0;
}

.payment-products-bg {
  background-color: var(--color-gray-background);
  padding: 10px 20px;
}

.payment-products {
  display: flex;
  align-items: center;
}

.payment-products img {
  width: 20%;
  border-radius: 10px;
}

.payment-products p {
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 10px;
}

.payment-coupon {
  display: flex;
  align-items: center;
}

.payment-coupon img{
  width: 10%;
  height: 5%;
}

.payment-coupon p {
  padding-left: 10px;
}

.payment-mobile-gift {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.payment-mobile-gift p {
  width: 100%;
}

.payment-mobile-gift-right {
  display: flex;
  align-items: center;
}

.payment-mobile-gift-right p {
  font-size: 1rem;
  font-weight: revert;
  text-align: end;
  padding-right: 20px;
}

.payment-mobile-gift-right img {
  width: 8%;
  margin-top: 2px;
}

.payment-type p{
  font-weight: bold;
  font-size: 1.1rem;
}

.payment-type input[type=checkbox] {
  border: 1px solid var(--color-gray-button);
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.payment-type div{
  display: flex;
  align-items: center;
}

.payment-type div label{
  padding: 15px 0 15px 5px;
}

.payment-info {
  display: flex;
  flex-direction: column;
}

.payment-order-price {
  display: flex;
  justify-content: space-between;
}

.payment-order-price p {
  font-weight: bold;
  margin: 10px 0;
}

.payment-order-price p:last-child {
  font-size: 1.2rem;
}

.payment-info-price-fb {
  display: flex;
  justify-content: space-between;
}

.payment-info-price-fb p {
  margin: 6px 0;
}

.payment-info-price-fb p:last-child {
  font-weight: bold;
}

.payment-option-info {
  padding: 0 20px 100px;
}

.payment-submit-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 120px;
}

.payment-submit-container button {
  width: 170px;
  height: 40px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: var(--color-light-green);
  color: var(--color-white);
  font-size: 1.0rem;
  font-weight: bold;
}

.payment-description {
  margin-top: 20px;
  font-size: 0.8rem;
  color: var(--color-gray-text);
  background-color: var(--color-gray-background);
  padding: 10px;
}

.payment-btn-order button {
  width: 350px;
  height: 40px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: var(--color-light-green);
  color: var(--color-white);
  font-size: 1.0rem;
  font-weight: bold;
}